@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {
  opacity: 1;
  background-image: radial-gradient(#de3163 0.6000000000000001px, #fff 0.6000000000000001px);
  background-size: 12px 12px;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centred-element > p {
  color: #de3163;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: xxx-large;
  margin: 0.6rem;
}